.git
.gitignore
.venv
venv
env

**/__pycache__/
**/*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.env.*
!.env.example

frontend/
tests/
notebooks/
reports/
docs/

data/
models/

artifacts/*
!artifacts/final_model/
artifacts/final_model/*
!artifacts/final_model/stroke_model_logreg_v1.joblib
!artifacts/final_model/threshold_logreg_v1.json
!artifacts/final_model/reference_values_logreg_v1.json

mlflow.db
mlruns/
mlartifacts/

*.log
