# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# ML models and artifacts
models/*
!models/.gitkeep
artifacts/
!artifacts/
artifacts/*
!artifacts/final_model/
artifacts/final_model/*
!artifacts/final_model/stroke_model_logreg_v1.joblib
!artifacts/final_model/threshold_logreg_v1.json
!artifacts/final_model/reference_values_logreg_v1.json
mlruns/
mlartifacts/
mlflow.db

# Frontend
frontend/node_modules/
frontend/dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Docker local overrides
docker-compose.override.yml
data/stroke_app.db
